<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interstellar Blog</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <style>
    body {
      font-family: 'Verdana', sans-serif;
      line-height: 1.6;
      margin: 20px;
      max-width: 800px;
      margin: auto;
      background-color: #f9f9f9;
      color: #333;
    }

    header {
      background-color: #4285f4;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    h1 {
      font-size: 2em;
      margin-bottom: 0.5em;
    }

    main {
      background-color: #fff;
      padding: 20px;
      margin-top: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      color: #333;
    }

    a {
      color: #4285f4;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    footer {
      margin-top: 20px;
      text-align: center;
      color: #777;
    }
  </style>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
    </ul>
  </nav>

  <header>
    <h1>Interstellar Blog</h1>
    <p>Welcome to our cosmic journey through the galaxy!</p>
  </header>

  <main>
    <img src="/images/Star.jpg" alt="Starry Sky" />
    
    <section>
      <h2>Latest Blog Posts:</h2>
      <article>
        <h3><a href="/Post1.html" title="Exploring Exoplanets">Exploring Exoplanets</a></h3>
        <p>Embark on a thrilling journey as we delve into the captivating realm of exoplanets, distant worlds beyond our solar system.</p>
      </article>

      <article>
        <h3><a href="/post2.html" title="Journey to the Galactic Core">Journey to the Galactic Core</a></h3>
        <p>Embark on an epic journey as we venture towards the heart of our galaxy, exploring the mysteries of the Galactic Core.</p>
      </article>
    </section>
  </main>

  <footer>
    <img alt="pine" src="/images/pine.png" width="50" />
    <p>© 2024 Interstellar Explorer</p>
  </footer>
</body>
</html>
